/* Estilos globales */
* {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ecf0f1;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding: 2rem;
  margin-bottom: 2rem;
  background-color: #413c3c;
}

.header__text {
  text-align: center;
  text-transform: uppercase;
  font-family: Tahoma;
  font-weight: bold;
  background-color: #413c3c;
  color: #fff;
}

.header__data {
  margin-top: 1rem;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  background-color: #413c3c;
}

/* Estilos para la lista */
.list {
  margin: 10px auto;
  padding: 0;
  list-style: none;
  width: 250px;
  font-size: 18px;
  box-shadow: 5px 5px 5px #c4c4c4;
}

/* Estilos de los encabezados y elementos de la lista
    Se elimina la viñeta
*/
.list li {
  list-style: none;
}

/* Estilos para los elementos de cada elemento de la lista */
.list li a {
  display: block;
  padding: 10px 10px 10px 20px;
  background: #2c3e50;
  color: #eee;
  border-top: #626262 solid 1px;
  text-decoration: none;
  box-sizing: border-box;
}

/* Estios para el bloque de elementos dentro de un encabezado
  - Inicialmete los sub-elementos tienen un alto de 0 por lo que se mantiene oculta la lista
*/
.list li ul {
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  transition: 0.3s all ease;
}

/* Se estilizan los elementos donde est[a el texto del elemento */
.list li li a {
  padding: 10px 10px 10px 40px;
  background: #999;
  color: #000;
  font-size: 16px;
  border: 0;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}

/* Se quita el borde de abajo al ultimo elemento */
.list li li:last-child a {
  border-bottom: 0;
}

/* Al momento en que se de clic al encabezado de cada lista se va a ejecutar el pseudoselector :target que lo que hará es expandir la lista asignando una altura */
.list li:target ul {
  max-height: 300px;
  transition: 0.5s all ease;
}

/* Al momento en que un elemento <a> sea visitado se estiliza el texto */
.list li a:visited {
  color: #fff;
}

.list li ul li a:hover {
  background-color: #b6b6b6;
}

.list__header a:hover {
  background-color: #1f3041;
  color: #000;
}
