* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100vh;
    align-content: center;
}

.caja {
    width: 200px;
    height: 200px;
    background-color: red;
}

#caja1:hover {
    transform: scale(1.5);
    transition: all 0.2s ease;
}

#caja2:hover {
    transform: rotate(45deg);
    transition: all 0.2s ease;
}

#caja3:hover {
    transform: skew(20deg);
    transition: all 0.2s ease;
}

#caja4 {
    animation: spin 1s infinite linear;
}

#caja5 {
    animation: spin 4s infinite ease;
}

@keyframes spin {
    0% {
        rotate: 0deg;
    }
    100% { rotate: 360deg}
}