* {
    font-family: Arial;
}

table {
    border: #000 solid 1px;
}

th {
    font-family: "Arial Black";
    padding: 0.5em;
}

th:nth-of-type(even) {
    background-color: #86a6e0;
}

th:nth-of-type(odd) {
    background-color: #aac3f5;
}


table:hover {
    box-shadow: #ccc 3px 3px 5px;
    transition: all ease 0.5s;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e5e5e5;
}

tr:active {
    background-color: #d3cdcd;
}

table, th, td {
    border: 1px solid;
}

.calificacion {
    font-weight: bold;
}